{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Lista de pacientes</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
	<div class="container">
		<!-- Content here -->
		<div class="row">
			</p>
			<a class="btn btn-dark" href="{% url 'crear_paciente' %}" role="button">Crear Paciente</a>
			</p>
		</div>
		<div class="row align-items-center">
			<table class="table">
			  <thead class="thead-light">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombres</th>
			      <th scope="col">Apellidos</th>
			      <th scope="col">Telefono</th>
			      <th scope="col">Fecha creación</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for p in pacientes %}
			    <tr>
			      <th scope="row">{{ p.id }}</th>
			      <td>{{ p.nombres }}</td>
			      <td>{{ p.apellidos }}</td>
			      <td>{{ p.telefono }}</td>
			      <td>{{ p.date_added }}</td>
			      <td>
			      	<a class="btn btn-outline-dark" href="{% url 'borrar_paciente' p.id %}" role="button">Borrar</a></td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>			
		</div>
	</div>
</body>
</html>